<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="https://www.thymeleaf.org " lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Sistem Kampus</title>
    <style>
        th, td {
            padding: 24px;
            text-align: center;
            background-color: white;
            width: min-content;
            white-space:nowrap;
            vertical-align: middle;
        }
        .table {
            border-collapse: separate;
            border-spacing: 0;
            width: min-content;
            overflow: hidden;
            border-radius: 16px;
            box-shadow: 4px 4px 4px grey;
        }
        .center-page{
            margin: auto;
        }
        #t01 th {
            color: white;
            background-color: dodgerblue;
        }
        .container {
            border: 4px solid dodgerblue;
            background-color: whitesmoke ;
            box-shadow: 4px 4px 4px grey;
            border-radius: 16px;
            margin-top: 32px;
            margin-bottom: 32px;
            width: min-content;
            height: min-content;
        }

        /* Set a style for all buttons */
        button {
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            opacity: 0.9;
        }

        button:hover {
            opacity:1;
        }
    </style>
</head>
<body style="background-color: Thistle">
<div class="center-page">
    <div class="container">
        <h1
                style="padding: 32px 0;
                color: dodgerblue;
                font-weight: bold"
                class="text-center">
            Sistem kampus
        </h1>

        <form th:action="@{/sistemkampus}" method="post">
            <input type="hidden" name="operasi" value="add"/>
            <p>
                <label for="mahasiswa">Choose Mahasiswa:</label><br>
                <select id="mahasiswa" name="mahasiswa">
                    <option th:each="dataMahasiswa : ${mahasiswaDTOList}"
                            th:value="${dataMahasiswa.getNim()}"
                            th:text="${dataMahasiswa.getNama()}"></option>
                </select>
            </p>

            <p>
                <label for="matakuliah">Choose Mata Kuliah:</label><br>
                <select id="matakuliah" name="matakuliah">
                    <option th:each="dataMatkul : ${mataKuliahDTOList}"
                            th:value="${dataMatkul.getKodeMk()}"
                            th:text="${dataMatkul.getNama()}"></option>
                </select>
            </p>
            <p class="text-center">
                <button
                        style="width: 200px; font-weight: bold"
                        type="submit"
                        class="button btn btn-primary">
                    Ambil Mata kuliah
                </button>
            </p>
            <p th:text="${pesan}"></p>
        </form>

        <table id="t01" class="table table-striped" style="margin: 16px 32px 32px 32px">
            <thead>
            <tr>
                <th style="width: 10%">Mata Kuliah</th>
                <th>Nama mahasiswa</th>
                <th>Nama Dosen</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="dataKelas :${kelasDTOList}" >
                <td th:text="${dataKelas.getMataKuliahDTO().getNama()}"></td>
                <td class="row-data" th:text="${dataKelas.getMahasiswaDTO().getNama()}"></td>
                <td th:text="${dataKelas.getMataKuliahDTO().getDosenDTO().getNama()}"></td>
                <td>
                    <form th:action="@{/sistemkampus}" method="post">
                        <input type="hidden" name="operasi" value="delete"/>

                        <button
                                type="submit"
                                class="btn btn-danger"
                                id="delete"
                                name="id"
                                th:value="${dataKelas.getId()}"
                        ><i class="fa fa-trash"></i></button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script type="text/javascript">
    // Get the modal
    // var modal = document.getElementById('id01');
    //
    // // When the user clicks anywhere outside of the modal, close it
    // window.onclick = function(event) {
    //     if (event.target == modal) {
    //         modal.style.display = "none";
    //     }
    // }
</script>
</body>
</html>